In [1]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([1, 3, 42, np.nan, 6, 8])
s

0     1.0
1     3.0
2    42.0
3     NaN
4     6.0
5     8.0
dtype: float64

In [5]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
np.random.rand(6, 4)

array([[0.60479948, 0.30894646, 0.85322954, 0.17701768],
       [0.81720475, 0.0870827 , 0.6597562 , 0.95786491],
       [0.63229002, 0.98896407, 0.52071178, 0.25365198],
       [0.19361295, 0.08211705, 0.74292396, 0.98137965],
       [0.77185092, 0.03763456, 0.62056764, 0.58563315],
       [0.55458244, 0.51622088, 0.36172806, 0.79213493]])

In [7]:
list("ABCD")

['A', 'B', 'C', 'D']

In [8]:
df = pd.DataFrame(np.random.rand(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.858113  0.825899  0.897970  0.130950
2013-01-02  0.255416  0.268271  0.119382  0.064118
2013-01-03  0.380039  0.442014  0.348181  0.872560
2013-01-04  0.849575  0.162581  0.018204  0.548655
2013-01-05  0.300396  0.259953  0.876506  0.137699
2013-01-06  0.349968  0.410328  0.130288  0.588308